/* 
Sophia Xuan Thi
Project 2: TMNT
CPSC-5200 - Auburn University
Description: External CSS that goes with the tmnt.html
*/
   body {
    background: url("images/background.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
  }
  
/*
    Top Banner
*/
  #banner {
    background: url("images/bannerbg.png") repeat-x;
    height: 50px;
    text-align: center;
  }
  #banner img {
    height: 50px;
  }
  
/*
    Title
*/
  h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    margin: 10px 0 20px 0;
    text-shadow: 3px 3px #999999;
  }
  
/*
    Main 800px Box
*/
  #content {
    width: 800px;
    margin: 0 auto 25px auto;
    border: 4px solid #666666;
    border-radius: 20px;
    background: url("images/background.png") repeat;
  }
  
/* LEFT: rating header (green bar), big tomato/rotten splat + %, 
ie what I spent more time than I needed to get it line up just right */
#left { 
  float: left; 
  width: 550px; 
  box-sizing: border-box; 
}

/* banner stuff */
#rating {
  background: url("images/rbg.png") repeat-x;
  height: 83px;
}
  #rating img {
    vertical-align: bottom;
  }
  #rating .percent {
    font-size: 48pt;
    font-weight: bold;
    color: red;
    vertical-align: bottom;
    margin-left: 5px;
  }
  
 /* reviews area */
  .reviews {
    padding: 10px 0 0 10px;
  }
  
 /* two columns */
  .column {
    float: left;
    width: 245px;
    margin-right: 10px;
  }
  .column:last-child {
    margin-right: 0;
  }
  
/* review box */
  .review {
    background-color: #E8DC9B;
    border: 2px solid #999999;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 0;
  }
  .review .icon {
    float: left;
    margin-right: 5px;
  }
  
  /* critic info */
  .critic {
    margin-top: 4px;
    margin-bottom: 20pt;
  }
  .critic .critic-icon {
    float: left;
    margin-right: 5px;
  }
  
  /* bottom green bar */
  #bottom-bar {
    background-color: #A2B964;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    clear: both;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
/* 
     RIGHT SIDE: GENERAL OVERVIEW
 */
  #overview {
    float: right;
    width: 250px;                  /* 550 + 250 = 800 */
    background-color: #A2B964;
    padding: 8px 8px 10px 8px;    
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    padding: 10pt;
  }
  
  #overview .poster {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  
  #overview h2 {
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  #overview dl {
    margin: 0;
    padding: 0;
  }
  
  /* labels: STARRING, DIRECTOR, ... */
  #overview dl dt {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  /* text under each label – match professor’s indent */
  #overview dl dd {
    margin-left: 38px;          
    margin-right: 10px;           
    margin-bottom: 6px;
    line-height: 1.4;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
  
  /* links at bottom */
  #overview .links {
    list-style: none;
    padding: 0;
    margin-top: 12px;
  }
  #overview .links li {
    margin-bottom: 4px;
  }
  #overview .links a {
    color: blue;
    text-decoration: underline;
  }

  /* utility */
  .clearfix {
    clear: both;
  }